html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*----------Global Classes--------*/
a {
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}
/*-----x-----Global Classes----x  ----*/

.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 40vh;
  overflow: hidden;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-brand a {
  font-size: 2.6 rem;
  padding: 1 rem 0;
}
